body {
    overflow-x: hidden;
}

header {
    min-height:100vh;
    width:100vw;
    position:relative
}

/* container for landing screen */
.hero-container {
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hero image that takes up the viewport */
.hero-image {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(.7);
    z-index: -1;
    opacity: .3;
}

/* Keep the navbar at the very top of the page */
.navbar {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

/* text placed in the center of the hero-container */
.hero-title {
    color: var(--bs-body);
    text-align: center;
}


