body {
    overflow-x: hidden;
}

header {
    min-height:100vh;
    width:100vw;
    position:relative
}

/* hero image that takes up the viewport */
.hero-image {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(.7);
    z-index: -1;
    opacity: .3;
}

/* Keep the navbar at the very top of the page */
.navbar {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

